<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Muchachos de Artacho</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]><style type="text/css">div { behavior: url(iepngfix.htc); }</style><![endif]-->
</head>
<body>
<div id="container_wrapper1">
  <div id="container_wrapper2">
    <div id="container">
      <div id="header">
        <div id="logo">
          <div id="site_slogan">Carlos Fortes Medina</div>
        </div>
      </div>
      <div id="menu">
        <ul>
          <li><a href="http://127.0.0.1:5000/" class="current">Home</a></li>
        </ul>
      </div>
      <div id="content">
        <div id="left_column">
          <div class="entradabody">
            <a href="http://127.0.0.1:5000/"><h1>Bienvenido al blog Muchachos de Artacho</h1></a>
            <div class="publish_info">Descripción de locos</div>
            <p>texto aqui tal y cual</p>
          </div>
        </div>
    </div>
  </div>
</div>
</html>